.simular {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.simularColumn {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.simularColumn-title {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
}
.simularColumn-content{
  display: flex;
  position: relative;
}
.simularColumn-item {
  margin-bottom: 20px;
  padding-right: 10px;
}

.simularColumn-img {
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
}
.simularDescript{
  position: absolute;
  top: 0;
  width: 100%;
}
.simularColumn-name {
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.8;
}
