.footer {
  position: relative;
  padding: 4rem 6rem;
  background-color: #000;
}
.footer__content {
  max-width: 1000px;
}
.logo > a {
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}
.footer__content__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.footer__content__menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__content__menu {
  padding-left: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
.footer__content__menu > a {
  margin-top: 1rem;
  color: #fff;
}
.footer__content__menu > a:hover {
  color: #04aa6d;
}
